@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Montserrat:wght@700&display=swap');

@font-face {
  font-family: 'bebasneue';
  src: url('/fonts/bebasneue-book-webfont.woff') format('woff'),
       url('/fonts/bebasneue-book-webfont.woff2') format('woff2');
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  --redColor: hsl(0 87% 30%);
  --redCast: hsl(0 87% 100% / .2);
  --redShadow: hsl(0 20% 10% / .9);
  --greenColor: hsl(151 90% 34%);
  --greenCast: hsl(151 90% 100% / .2);
  --greenShadow: hsl(151 20% 10% / .9);

  background-color: hsl(241 6% 18% / 1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header, footer {
  background-color: black;
  font-family: 'fira code', monospace;
  font-size: .75rem;
  color: white;
  width: 100%;
  padding: .3rem .3rem .5rem;
  text-align: center;
}

header a:link, header a:visited,
footer a:link, footer a:visited {
  color: #cbffb4;
}

header a:active, header a:hover,
footer a:active, footer a:hover {
  color: #efffb4;
}

/* from https://css-tricks.com/inclusively-hidden/ */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}
